{% extends "base.html" %}

{% block content %}
  	<div class="row">
        <div class="col-md-12">
            {% if error %}
                <div class="error"
                    {{error}}
                </div>
            {% endif %}
        </div>

        {{post.render() | safe}}
    </div>

    <div class="row">
        <div class="col-md-12">
            <form method="post" role="form">
                <input type="hidden" class="form-control" id="like" name="like" value="updateLike">
                <button type="submit" class="btn btn-primary">{{numOfLikes}} Likes</button>
            </form>
            <a class="btn btn-danger pull-right" href="/blog/deletepost/{{post.key().id()}}">Delete Post</a>
            <a class="btn btn-primary pull-right" href="/blog/editpost/{{post.key().id()}}">Edit Post</a>
        </div>
    </div>

        <div class="col-md-12">
            <form method="post" role="form" class="comment-form">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <input type="text" class="form-control" id="comment" name="comment" value="">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>

        <div class="col-md-12">
            {% for c in comments %}
            <blockquote>
                {{ c.comment }}
                {{ c.user_id }}
                {% if c.user_id %} 
                    <a class="btn btn-danger pull-right" href="/blog/deletecomment/{{post.key().id()}}/{{c.key().id()}}">Delete Comment</a>
                    <a class="btn btn-primary pull-right" href="/blog/editcomment/{{post.key().id()}}/{{c.key().id()}}">Edit Comment</a>
                 {% else %}
                  <div> Not comment user </div>
                 {% endif %}   
                <footer>{{ c.getUserName() }}</footer>
            </blockquote>
            {% endfor %}
        </div>

    </div>
{% endblock %}
